
.ui-widget .m-note-inputtextarea {
	background-image:url("#{resource['images:squared.jpg']}");
	padding:5px;
}

.m-note-panel .ui-panel-content {
	position:relative;
	padding:0;
	height:300px;
}

.m-note-statustext {
	position:absolute;
	right:54px;
	font-size:9pt;
	top:-27;
	width:100px;	
}

.ui-menu.m-note-menu {
	font-size: 11pt;
}

.ui-selectonelistbox.m-note-selectonelistbox {
	background:transparent;
	box-shadow:none;
	border:0px;
	color:inherit;
	width:100%;	
}