
body {
	margin:0;
	padding:0;
	font-size:11pt;
	
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
 
	
	/*color: #616161*/;
}

.ui-widget, .ui-widget .ui-widget {
	font-size: 11pt !important;
}

.ui-growl {
	top:30px;
}




#fileUpload {
	width:700px;
}
#fileUploadForm {
	width:700px;
}

#analyseResult {
	margin-top:20px;
}

.column {
}

#rowspace {
	margin-top:30px;	
}





#chartContainer {
	margin-left:50px;
	margin-right:50px;	
}

#resetZoomButton {
	position:relative;
	top:5px;
}