
body {
	margin:0;
	padding:0;
	font-size:11pt;
	
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
 
	
	/*color: #616161*/;
}

.ui-widget, .ui-widget .ui-widget {
	font-size: 11pt !important;
}

.ui-growl {
	top:30px;
}

.ui-layout-unit .ui-layout-unit-content {
	padding:0
}

.ui-widget-content {
	/*border:1px solid white;*/
	background:none;
}

.ui-corner-all {
	-webkit-border-radius:0px;
	border-radius:0px;
}

#fileUpload {
	width:700px;
}
#fileUploadForm {
	width:700px;
}

#analyseResult {
	margin-top:20px;
}

.column {
}

#rowspace {
	margin-top:30px;	
}

#fileuploadpanel {
	width:750px; 
	margin-top:20px;
	margin-left:50px;
}

.panel {
	
	border:1px solid #D9D9D9; 
	background-color:#F2F2F2;
}
.panel .panelHeader {
	background:#5D6167; 
	height:30px;
	margin-bottom:10px;
}



#chartContainer {
	margin-left:50px;
	margin-right:50px;	
}

#resetZoomButton {
	position:relative;
	top:5px;
}